@using Microsoft.Owin.Security
@model IEnumerable<AuthenticationDescription>
<div class="form-group" id="externalLoginForm">
    @using (Html.BeginForm("ExternalLogin", "Account", new { area = "", returnUrl = ViewBag.ReturnUrl != null ? ViewBag.ReturnUrl : HttpContext.Current.Request.RawUrl }))
    {
        @Html.AntiForgeryToken()
        <div id="socialLoginList">
            @foreach (AuthenticationDescription p in Model)
            {
                <button type="submit" class="zocial @(p.AuthenticationType == "Microsoft" ? "windows" : p.AuthenticationType.ToLower())"
                        id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account"
                        style="width: 100%;">
                    @p.AuthenticationType
                </button>
            }
        </div>
    }
</div>